.navbar {
  color: var(--text-white);
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1rem;
}

.logo {
  min-width: 10rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  user-select: none;
  cursor: pointer;
}

.link_items {
  display: flex;
  list-style: none;
  padding: 0;
}

.link_items li a {
  color: var(--text-white);
  display: block;
  font-size: var(--title-title-s);
  text-decoration: none;
  padding: 0.7rem 1rem;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
}
.link_items li a:hover {
  border-bottom: 2px solid var(--text-white);
}

@media screen and (max-width: 475px) {
  .link_items li a {
    font-size: var(--text-text-m);
    padding: 0.5rem;
  }
}
