.btn {
  color: var(--text-white);
  font-weight: bold;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.dark {
  background-color: var(--text-black);
}
.btn.dark:hover {
  background-color: #222;
}

.light {
  background-color: var(--strong-light-bg);
}
.btn.light:hover {
  background-color: var(--light-bg);
}
