.pokemon_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem 0;
}

.buttons_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
