.btn {
  background-color: var(--text-black);
  color: var(--text-white);
  font-weight: bold;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #222;
}
