.button {
  color: var(--text-white);
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: none;
  outline: none;
  cursor: pointer;
}

.light {
  background-color: var(--brand-blue);
}

.dark {
  background-color: var(--text-black);
}
