.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_container h1 {
  color: var(--base-red);
  font-size: 3rem;
  margin-right: 0.5rem;
}

.title_container h1 span {
  color: var(--text-white);
}

.pokemon_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem 0;
}
