:root {
  --very-dark-bg: #040f1a;
  --dark-bg: #071422;
  --card-bg-1: #0b1b2b;
  --card-bg-2: #112131;
  --soft-bg: #dee6ee;
  --base-red: #b9342d;
  --brand-blue: #3256f8;
  --text-black: #333;
  --text-white: #e7edf4;
  --border-radius: 5px;

  --title-title-l: 1.5rem;
  --title-title-m: 1.25rem;
  --title-title-s: 1.125rem;
  --text-text-m: 1rem;
  --text-text-s: 0.875rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.dark {
  background: linear-gradient(
    145deg,
    var(--very-dark-bg) 0%,
    var(--dark-bg) 100%
  );
}

.light {
  background: linear-gradient(145deg, #ccc 0%, #bbb 100%);
}

.main-container {
  min-height: 100vh;
  max-width: 60rem;
  width: 90%;
  flex-direction: column;
  margin: 0 auto 2rem;
}

.fadeIn {
  position: relative;
  animation: fadeIn 0.5s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 40px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
